# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
metavenv/
venv/
env/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log



# Data (optional if large)
data/*.csv
data/*.json

# tar files
*.tar.gz